<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508896557325-mtn3v3dv22k5hd4ldmf8e66rnp2tu3r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508896557325-mtn3v3dv22k5hd4ldmf8e66rnp2tu3r5</string>
	<key>API_KEY</key>
	<string>AIzaSyCtIn6KGq2W3p-_m-kOAqaDoLuTtkytiTA</string>
	<key>GCM_SENDER_ID</key>
	<string>508896557325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.VisaCharity</string>
	<key>PROJECT_ID</key>
	<string>visacharity</string>
	<key>STORAGE_BUCKET</key>
	<string>visacharity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508896557325:ios:2ec4dc3125aa9bcf2fd844</string>
	<key>DATABASE_URL</key>
	<string>https://visacharity.firebaseio.com</string>
</dict>
</plist>